---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import ExperienceCard from '@/components/ExperienceCard.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllExperience } from '@/lib/data-utils'

const experience = await getAllExperience()
---

<Layout>
  <PageHead slot="head" title="Experience" />
  <Breadcrumbs items={[{ label: 'Experience', icon: 'ph:briefcase-duotone' }]} />
  <section>
    <div>
      <div class="min-w-full">
        <div>
          <h1 class="mb-6 text-3xl font-bold">Work Experience</h1>
          <p class="text-muted-foreground mb-8 text-sm leading-relaxed">
            Here's a timeline of my professional journey, including internships, projects, and research work that have shaped my skills in software development.
          </p>
        </div>
        <div>
          <div class="flex flex-col gap-4">
            {experience.map((exp, index) => (
              <div>
                <ExperienceCard experience={exp} />
              </div>
            ))}
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>