---
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { Motion } from '@/components/motion'
import Layout from '@/layouts/Layout.astro'
import { getAllPosts, groupPostsByYear } from '@/lib/data-utils'

const allPosts = await getAllPosts()
const postsByYear = groupPostsByYear(allPosts)
const years = Object.keys(postsByYear).sort((a, b) => parseInt(b) - parseInt(a))
---

<Layout>
  <PageHead slot="head" title="Home" />
  <Motion client:load delay={0}>
    <section>
      <div class="transition-smooth rounded-lg border-2">
        <div class="flex flex-col space-y-1.5 p-6">
          <h3 class="text-3xl leading-none font-medium">Aditya Vijayvargiya</h3>
          <p class="text-muted-foreground text-sm">Software Developer</p>
        </div>
        <div class="p-6 pt-0">
          <p class="text-muted-foreground mb-2 text-sm">
            Hello there, I'm a software developer from India. I'm currently
            pursuing a B.Tech in Computer Science. In my journey of software
            development, I have developed a strong foundation in programming and
            software development, with particular experience in <Link
              href="https://nextjs.org"
              class="text-foreground"
              external
              underline>Next.js</Link
            > and <Link
              href="https://react.dev"
              class="text-foreground"
              external
              underline>React</Link
            >.
          </p>
          <p class="text-muted-foreground mb-2 text-sm">
            One of my favorite hobbies continues to be tinkering with software
            configurations, whether it's customizing Neovim setups, tweaking UI
            elements that don't quite feel right, or hunting for the perfect
            open-source alternative.
          </p>
          <p class="text-muted-foreground text-sm">
            I also love staying updated with the latest tech trends and sharing
            insights with others through blogs and Twitter posts.
          </p>
        </div>
      </div>
    </section>
  </Motion>
  <Motion client:load delay={0.2}>
    <section id="posts" class="flex flex-col gap-y-6">
      <h2 class="mb-4 text-2xl font-medium">Posts</h2>
      <div class="flex flex-col gap-y-8">
        {
          years.map((year, yIndex) => (
            <Motion client:visible delay={yIndex * 0.1}>
              <section class="flex flex-col gap-y-4">
                <div class="font-medium">{year}</div>
                <ul class="flex flex-col gap-4">
                  {postsByYear[year].map((post, pIndex) => (
                    <Motion client:visible delay={pIndex * 0.05}>
                      <li>
                        <BlogCard entry={post} />
                      </li>
                    </Motion>
                  ))}
                </ul>
              </section>
            </Motion>
          ))
        }
      </div>
    </section>
  </Motion>
</Layout>
