---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'

const projects = await getAllProjects()
---

<Layout>
  <PageHead slot="head" title="Projects" />
  <Breadcrumbs items={[{ label: 'Projects', icon: 'ph:folder-duotone' }]} />
  <section class="page-animate" data-stagger-index="0" transition:name="main">
    <div>
      <div class="min-w-full">
        <h1 class="mb-6 text-3xl font-bold page-animate" data-stagger-index="1">Projects</h1>
        <div class="flex flex-col gap-6">
          {projects.map((project, index) => (
            <div 
              class="page-animate" 
              data-stagger-index={index + 2}
              data-scroll
              data-scroll-animation="slide-up-soft"
              data-scroll-delay={index * 100}
            >
              <ProjectCard project={project} />
            </div>
          ))}
        </div>
      </div>
    </div>
  </section>
</Layout>
