---
import '@/styles/fonts.css'
import '@/styles/global.css'
import '@/styles/typography.css'

import Footer from '@/components/Footer.astro'
import Head from '@/components/Head.astro'
import Header from '@/components/Header.astro'
import PerformanceOptimizer from '@/components/PerformanceOptimizer.astro'
import ServiceWorker from '@/components/ServiceWorker.astro'
import { SITE } from '@/consts'
import Analytics from '@vercel/analytics/astro'
import SpeedInsights from '@vercel/speed-insights/astro'
---

<!doctype html>
<html class="bg-background text-foreground" lang={SITE.locale}>
  <Head>
    <link rel="preconnect" href="https://cdn.jsdelivr.net" />
    <link rel="dns-prefetch" href="https://cdn.jsdelivr.net" />
    <PerformanceOptimizer />
    <slot name="head" />
  </Head>
  <body class="overflow-x-hidden">
    <!-- Main content wrapper -->
    <div class="flex h-fit min-h-screen flex-col gap-y-4 font-sans sm:gap-y-6">
      <!-- Header/Navbar for all screen sizes -->
      <div
        class="bg-background/50 sticky top-0 z-50 divide-y backdrop-blur-sm"
      >
        <Header />
        <slot name="subposts-navigation" />
        <slot name="table-of-contents" />
      </div>
      <main class="grow">
        <div
          class="mx-auto flex max-w-3xl grow flex-col gap-y-4 px-3 sm:px-6 md:px-4"
        >
          <slot />
        </div>
      </main>
      <Footer />
    </div>
    <Analytics />
    <SpeedInsights />
    <ServiceWorker />
  </body>
</html>
